@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

.container {
    position: fixed;
    top: 2rem;
    right:2rem;
    max-width: 24rem;
    font-family: 'Signika', sans-serif;
}

.containerMain {
    text-align: center;
}

.closeButton {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-property: all;
    transition-duration: 150ms;
    padding: 0.5rem;
    border-width: 1px;
    border-radius: 9999px;
    z-index: 50;
    background-color: rgb(106 165 23);
    color : rgb(254 254 254);
    border: 1px solid white;
}
.closeButton:hover {
    color: rgb(106 165 23);
    background-color: rgb(254 254 254);
    border-color: rgb(106 165 23);
}

.openButton {
    cursor: pointer;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-property: all;
    transition-duration: 150ms;
    padding: 0.5rem;
    border-width: 1px;
    border-radius: 9999px;
    z-index: 50;
    background-color: rgb(106 165 23);
    color : rgb(254 254 254);
    border-color: rgb(254 254 254);
}
.openButton:hover {
    color: rgb(106 165 23);
    background-color: rgb(254 254 254);
    border-color: rgb(106 165 23);
}

.chatbox {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    background-color:white;
}

.chatboxTitle {
    --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    filter: var(--tw-drop-shadow);
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: #6aa517;

}

.chatboxTitle h1 {
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: 0.5rem;
    font-family: 'Signika', sans-serif;
}

.chatboxDialog {
    padding : 0.5rem;
    height: 18rem;
    max-height: 18rem;
    display: flex;
    overflow-x: auto;
    flex-direction: column;
}

.chatbubbleUser {
    padding: 1rem;
    margin: 0.25rem;
    align-self: flex-end;
    background-color: #6aa517;
    color: white;
    border-radius: 20px;
}

.chatbubbleBot {
    padding: 1rem;
    margin: 0.25rem;
    align-self: flex-start;
    background-color: rgba(106, 165, 23, 0.1);
    border-radius: 20px;
}
.chatbubbleBot h3 {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
}
.chatbubbleBot h4 {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}
.chatbubbleBot img {
    width: 11rem/* 176px */;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
.chatbubbleBotLink {
    margin-top: 0.5rem/* 8px */;
    margin-bottom: 0.5rem/* 8px */;
}
.chatbubbleBotLink a {
    text-decoration:none;
    color:black;
    padding: 0.25rem/* 4px */;
    border-radius: 0.5rem/* 8px */;
    border-width: 1px;
    border-color: #6aa517;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.chatbubbleBotLink a:hover {
    color: white;
    background-color: #6aa517;
}


.form {
    display: flex;
    height: 4rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(106, 165, 23, 0.1);
    align-items: center;
}

.formInput {
    width: 20rem;
    margin-left:0.5rem;
    margin-right:0.5rem;
    height: 2.5rem;
    outline: none;
    padding: 0.5rem;
    background-color: rgba(106, 165, 23, 0.1);
    border:none;
    font-family: 'Signika', sans-serif;
    border-radius: 25px;

}
.formInput::placeholder {
    font-style: italic;
    font-weight: 100;
    font-size: .875rem;
    line-height: 1.25rem;
}

.form button {
    width: 3rem;
    border:none;
    background:none;
}

.sendButton {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    rotate: -45deg;
    padding: .5rem;
    border-radius: 9999px;
    color: #6AA517;
}
.sendButton:hover {
    background-color: #6AA517;
    color:white;
    cursor:pointer;
}



